<div class="tabbable" id="tabs-333750">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#panel-71749" data-toggle="tab">Graph</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#panel-708909" data-toggle="tab">Map</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="panel-71749">
      <!-- <app-tableau-test></app-tableau-test> -->
      <graph [nodes]="nodes" [links]="links"></graph>
    </div>
    <div class="tab-pane" id="panel-708909">
      <app-tableau-test></app-tableau-test>
    </div>
  </div>
</div>