#app {
    padding:2em;
}

.headerNav li > a{
    color:#e8e8e8;
}

.contentView {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    min-height: 775px;
}

.contentView .contentPanel {
    padding-top: 10px;
}

.list-group-item.active {
    background-color: #031f5d54;
    border-color: #007bff96;
}

.page-header {
    padding-left: 12px;
}

.page-header h1 {
    text-decoration: underline;
    color: #e8e8e8;
    font-family: 'Roboto', sans-serif;
}

.nav-link.active {
    text-decoration: underline;
} 