<div class="container-fluid" id="app">
  <div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					FireSquirrel
				</h1>
			</div>
			<ul class="nav headerNav">
				<li class="nav-item">
					<a class="nav-link active" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Connections</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Help</a>
				</li>
				<li class="nav-item dropdown ml-md-auto setView">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect01">View Select</label>
					</div>
					<select (change)="onChangeView($event.target.value)" class="custom-select" id="inputGroupSelect01">
						<option selected value="tab">Tab View</option>
						<option value="dashboard">Dashboard View</option>
					</select>
				</li>
			</ul>
			<div class="row contentView">
				<div class="col-md-3 contentPanel">
					<div class="nav-bar" [class.active]="activeClass">
						<div class="overflow-container">
							<!-- <button class="open-nav" (click)="onClickNav()">
								<i class="fa fa-bars"></i>
								<i class="fa fa-close"></i>
							</button> -->
							<div class="content">
								<input type="text" class="search-bar" placeholder="Search records.">
								<button class="search">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="searchList">
						<!-- <ul class="listItems">
							<li *ngFor='let value of values; trackBy: index;'> {{value}} </li>
						</ul> -->
						<ul class="listItems">
							<li>
								<a class="category" href="#">Persons <span class="badge badge-primary badge-pill">7</span></a>
								<ul class="listItems">
									<li>
										<a href="#">Osama Bin Laden</a>
									</li>
									<li>
										<a href="#">Sadaam Hussein</a>
									</li>
									<li>
										<a href="#">Donald Trump</a>
									</li>
									<li>
										<a href="#">Barack Obama</a>
									</li>
									<li>
										<a href="#">Joe Rogan</a>
									</li>
									<li>
										<a href="#">Mark Zuckerberg</a>
									</li>
									<li>
										<a href="#">Tommy Hilfiger</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div [ngSwitch]="view" class="col-md-9 contentPanel">
					<app-tab-view *ngSwitchCase="'tab'"></app-tab-view>
					<app-dashboard-view *ngSwitchCase="'dashboard'"></app-dashboard-view>
				</div>
			</div>
		</div>
	</div>
</div>