<div class="gridContainer">
  <div class="row">
    <!-- <div id="grid-snap" class="gridSnap">
      <graph [nodes]="nodes" [links]="links"></graph>
    </div>
    <div id="grid-snap" class="gridSnap">
      <app-tableau-test></app-tableau-test>
    </div> -->
    <gridster [options]="options">
      <gridster-item [item]="item" *ngFor="let item of dashboard">
        <graph [nodes]="nodes" [links]="links"></graph>
      </gridster-item>
    </gridster>
  </div>
  <!-- <div class="row">
    <div id="grid-snap" class="gridSnap">
      Dragging is constrained to the corners of a grid
    </div>
    <div id="grid-snap" class="gridSnap">
      Dragging is constrained to the corners of a grid
    </div>
  </div> -->
</div>